doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/resources/css/ext-all.css')
    script(src='javascripts/ext-debug-w-comments.js')
    script(src='app/app.js')
  body
    block content